{% extends "header.html" %}
{% load static %}

{% block content %}
<img src="{% static 'onboarding_1.jpg' %}" alt="grafik" width="500">
<div class="container">
	<h1>Digitaler Lernpfad</h1>
	<h2>Nierentransplantation</h2>

	<p>Dieser Lernpfad dient Ihnen als Vorbereitung zum Erstaufklärungsgespräch mit Ihrem persönlichen Arzt am Universitätsklinikum Tübingen. Hier erfahren Sie alle relevanten Informationen rund um das Thema Nierentransplantation.</p>
	<button class="btn" onclick="">Los gehts -></button>
</div>
{% endblock content %}
