/* Styling der Modulseiten */
.body {
    background-color: #E6E6E6;
}

b{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 174.5%;
	/* or 38px */
	letter-spacing: 0.035em;

	color: #2F3333;
}

h1{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 161.5%;
	/* or 39px */

	color: #948357;	
}

/* Zurück zur Übersicht Button */
.button {
    text-align: center;
    width: 270px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    background-color: #E6E3E6;
    border-radius: 11px;
    border:0.1em solid white;
    margin-left: 3em;
    display: inline-block;
}

.uebersicht-btn {
    width: 25%;
    float: left;
    position: absolute;
    margin-top: 1em;
}

/* Seitliche Übersichtsleiste */
.uebersichtsleiste {
    display: flex;
    position: absolute;
    float: left;
    background-color: #449BB4B2;
    width: 15%;
    height: 65%;
    margin-left: 6em;
    margin-top: 10em;
    border-radius: 15px;
}
.modul-ueberschriften {
    white-space: nowrap;
    text-align:right;
	font-size: 20pt;
    position: relative;
}

.modul-ueberschriften h2 {
    text-align: right;
    position: absolute;
    margin-top: 1em;
    margin-left: 2em;
    font-size: 15px;
}

.AlgemeineInformationen {
    
}

.round-btn {
    border-radius: 50%;
}

.btn.unlocked.uebersichtsleiste {
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
}

/* Freigeschaltete Module */
/* .btn-circle.btn-xl.unlocked.uebersichtsleiste {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border-color: #FFFFFF;
	text-align: center;
	background-color:#7CB7C9;
} */

/* Kommentarfeld in der seiltichen Übersichtsleiste */
.kommentarfeld {
    margin-right: 5em;
    margin-top: 45em;
    margin-bottom: 2em;
    width: 230px;
}

/* Die Modulinhalte in einem div */
.modulinhalte {
    float: right;
    width: 63%;
    margin-right: 15em;
    margin-top: 2em;
    font-family: 'Lato', sans-serif;
}

.modulinhalte h1 {
    align-content: right;
    margin-right: 0em;
}

.modulinhalte h2 {
    margin-left: 1em;
}

.modulinhalte img {
    margin-left: 1em;
    border-radius: 18px;
    box-shadow: 0px 0px 5px black;
    width: 1113px;
    height: 348px;
    object-fit: cover;
}

.modulinhalte p {
    margin-left: 1em;
}

.lerntext {
    margin-left: 1em;
    margin-right: 3em;
    font-size: 20px
}

/* Nächste Seite Button */
.btn-primary {
    float: right;
    margin-right: 3em;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 270px;
    border-radius: 11px;
}

/* Eine Seite zurück Button */
.backbutton {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color:#BEBEBE;
    border-radius: 11px;
    border: 0px;
    margin-left: 3em;
    display: inline-block;
    height: 40px;
    width: 270px;
}
