{% extends "users/header.html" %}

{% block content %}

{% comment %} <!DOCTYPE html>
<html lang="de"> {% endcomment %}

{% comment %} <head>
    <meta charset="UTF-8">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'modulseite/modulseite.css' %}">
    <title>Modulseite</title>
</head> {% endcomment %}

{% comment %} <body> {% endcomment %}
<h1>Modulseite 1</h1>
<div>
    <button class="button">Zurück zur Übersicht</button>
</div>
{% comment %} </body> {% endcomment %}
{% comment %} </html> {% endcomment %}

{% endblock content %}