{% extends "module/header.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lernpfad/einfuehrung.css' %}">

{% block content %}
<div class="container-einfuehrung">
	<h1 class="ueberschrift-einfuehrung"> {{modul.name}}</h1> <br>
	<h3 class="einfuehrung"> {{modul.name}} überspringen X </h3> <br>
	
	<h2 class="einfuehrung-unterseite">{{ unterseite.titel }}</h2><br>
	<div class="einfuehrung-inhalt">
		<p>{{ unterseite.inhalt |safe }}</p>
	</div>
	<div class="einfuehrung-bild">
	{% comment %} <img src="{% static 'lernpfad/modulseite/'|add:unterseite.bild %}" alt="{{unterseite.bild_beschreibung}}" width="400"> {% endcomment %}
	Platzhalter Bild
	</div>
	<br>
	<div class="btn-einfuehrung-container">
		<a class="btn" href="/module/einfuehrung/{{unterseite.naechste}}" role="button">Nächste Seite -></a>
	</div>
</div>
<br>


{% endblock content %}