{% extends "module/header.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lernpfad/einfuehrung.css' %}">

{% block content %}
<div class="container">
	<h1> {{modul.name}}</h1> <br>
	<h1 class="einfuehrung"> {{modul.name}} überspringen X </h1> <br>
	
	<h2 class="name">{{ unterseite.titel }}</h2><br>
	
	{{ unterseite.inhalt |safe }}
	<br>
	<a class="btn" href="/module/einfuehrung/{{unterseite.naechste}}" role="button">Nächste Seite</a>
	
</div>
<br>


{% endblock content %}