{% extends "module/header.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lernpfad/modulseite/modulseite.css' %}">

{% block content %}
<body class="body">

<div class="uebersicht-btn">
<br>
{% comment %} Button führt einen eine Seite zurück, müsste noch angepasst werden, 
dass es auf die Übersichtsseite leitet {% endcomment %}
    <button class="button" onclick="window.location.href = '/';"> <- Zurück zur Übersicht</button>
</div>

{% comment %} Container für seitliche Sicht der Übersichtsleiste {% endcomment %}
<div class="uebersichtsleiste">
    <span class="modul-ueberschriften">
        {% comment %} <button type="button" class="round-btn">o</button> {% endcomment %}
        <h2 class="AlgemeineInformationen">Allgemeine Informationen</h2>
        <br>
        <br>
        {% comment %} <button type="button" class="round-btn">x</button> {% endcomment %}
        <h2>Arten der Spende</h2>
        <br>
        <br>
        <h2>Warteliste</h2>
        {% comment %} <button type="button" class="round-btn">x</button> {% endcomment %}
        <br>
        <br>
        <h2>Komplikationen</h2>
       {% comment %}  <button type="button" class="round-btn">x</button> {% endcomment %}
        <br>
        <br>
        <h2>Abschluss</h2>
        {% comment %} <button type="button" class="round-btn">x</button> {% endcomment %}
        <br>
        <br>
        <h2>Notizen</h2>
    </span>
    <br>
    <br>
    {% comment %} <textarea class="kommentarfeld" rows="4" cols="50" name="comment" form="usrform">Enter text here...</textarea> {% endcomment %}
</div>

{% comment %} Modulinhalte {% endcomment %}
<br>
<div class="modulinhalte">
    <h1> {{modul.name}}</h1>
    <br>
    <br>
    <br>
    <h2>{{ unterseite.titel }}</h2>
    <br>   
	<img src="{% static 'lernpfad/modulseite/'|add:unterseite.bild %}" alt="{{unterseite.bild_beschreibung}}" width="500">
    <br>
    <br>
    <p>Quelle: {{ unterseite.bild_quelle }}</p>
    <br>
    <br>
    <p class="lerntext">{{ unterseite.inhalt |safe }}</p>
    <br>
    <br>
    <br>
    <button class="backbutton" onclick="history.go(-1)"> <- Vorherige Seite</button>
    <a class="btn btn-primary" role="button" href="/module/{{modul.nummer}}/{{unterseite.naechste}}">Nächste Seite -></a>
</div>
</body>

{% endblock content %}