/* Styling der Modulseiten */
.body {
    background-color: #E6E6E6;
}

/* Zurück zur Übersicht Button */
.button {
    text-align: right;
    font-size: 12px;
    background-color: #E6E3E6;
    border-radius: 11px;
    border:0.15em solid white;
    margin-left: 3em;
    display: inline-block;
}

/* Die Modulinhalte in einem div */
.modulinhalte {
    margin-left: 45em;
    margin-right: 13em;
    font-family: 'Lato', sans-serif;
}

.modulinhalte h1 {
    float: right;
    align-content: right;
    margin-right: 3em;
}

.modulinhalte h2 {
    margin-left: 1em;
}

.modulinhalte img {
    margin-left: 1em;
    border-radius: 18px;
    box-shadow: 0px 0px 5px black;
    width: 1113px;
    height: 348px;
    object-fit: cover;
}

.modulinhalte p {
    margin-left: 1em;
}

.lerntext {
    margin-left: 1em;
    margin-right: 3em;
    font-size: 20px
}

/* Nächste Seite Button */
.btn-primary {
    float: right;
    margin-right: 8em;
}