/* Styling der Modulseiten */

/* Zurück zur Übersicht Button */
.button {
    text-align: right;
    font-size: 12px;
    background-color: #E6E3E6;
    border-radius: 11px;
    margin-left: 2em;
}

.modulinhalte {
    margin-left: 30em;
}

.modul-ueberschrift {
    float: right;
	margin-right: 3em;
}
