/* Header/MUI-ToolBar */
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 3px solid #aaa;
  }

.header img {
    height: 75px;
    width: 280px;
    top: 24px;
    left: 31px;
    }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 22px; 
    font-weight: 500;
    line-height: 36px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }

  .header-right img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 2%;
  }