/* Gesamter Rahmen für die Größe des Fortschrittbalkens und der dazugehörigen Elemente*/
.rahmen{
	max-width: 100%;
	margin-top: 8em;
	margin-left: 1em;
}
/* Einstellungen für alle Modulüberschriften (z.B. Abstände, Position)*/
.ueberschriften{
	max-width: 90%;
	margin-left: 0em;
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}
/* Individuelle Einstellung für die Modulüberschriften (Schriftgröße und -zentrierung)*/
.ueberschrift{
	text-align:center;
	font-size: 20pt;
}
/* Bootstrapkonfigurationen für den Fortschrittsbalken mit kleinen Änderungen*/
.progress {
	max-width:90%;
	margin-left: 35em;
}
/* Positionierungseinstellungen der Fortschrittsleiste*/
.progressleiste {
	max-width:100%;
	margin-top: -26em;
	margin-right: 45em;
}

/* Aktueller Progress (eingefärbt)*/
.currentprogress{
	background-color: #4EBBDA;
}

/* Freigeschaltete Module */
.btn-circle.btn-xl.unlocked {
	width: 60px;
	height: 60px;
	padding: 13px 18px;
	border-radius: 60px;
	border-color: #4EBBDA;
	text-align: center;
	background-color:#4EBBDA;
}
/* Gesperrte Module */
.btn-circle.btn-xl.locked {
	width: 60px;
	height: 60px;
	padding: 13px 18px;
	border-radius: 60px;
	border-color: #BEBEBE;
	text-align: center;
	background-color:#BEBEBE;
}
/* Einstellung für Absatz h3*/
h3 {
	text-align: center;
}
/* Einstellung für Absatz h2*/
h2 {
	font-weight: bold;
}
/* Einstellungen für die aufklappbare Inhaltsliste*/
.collapsible {
	margin-top: 10em;
	background-color: #FFFFFF;
	color: #4EBBDA;
	font-weight: bold;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border:black;
	text-align: center;
	outline:black ;
	font-size: 15px;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	border-radius:4%;
}
/* Einstellungen für den Inhalt der aufklappbaren Liste*/
.content {
	font-size:small;
	font-weight: bold;
	padding: 18px;
	display: none;
	overflow: hidden;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	border-radius:4%;
}

