.container{
	margin-left: 9%;
	margin-right: 9%;
}
.one, .two, .three, .four, .five{
    position:absolute;
	margin-top:-2.5em;
	z-index:1;
	height:6em;
	width:6em;
	border-radius:6em;
}
.one{
	left:9%;
}
.two{
	left:28.25%;
}
.three{
	left:49%;
}
.four{
    left:68%
}
.five{
    left: 88%
}
.main-color{
	background-color:#4EBBDA;
}
.no-color{
	background-color:inherit;
}
.modul_eins{
	position: relative;
	left: 12%;
	vertical-align: middle;
}
.modul_zwei{
	position: relative;
	left: 33.5%;
	vertical-align: middle;
}
.modul_drei{
	position: relative;
	left: 69%;
	vertical-align: middle;
}
.modul_vier{
	position: relative;
	left: 101.5%;
	vertical-align: middle;
}
.modul_fuenf{
	position: relative;
	left: 136%;
	vertical-align: middle;
}
.column {
	float: left;
  }
.row {
	content: "";
	display: table;
	clear: both;
	max-width: 80%;
}
h3 {
	text-align: center;
}
h2 {
	font-weight: bold;
}
.collapsible {
	background-color: #FFFFFF;
	color: #4EBBDA;
	font-weight: bold;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border:black;
	text-align: center;
	outline:black ;
	font-size: 15px;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	border-radius:4%;
}
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	border-radius:4%;
  }