<!DOCTYPE html>
<html lang="ger">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">

  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'lernpfad/progress.css' %}">
  	<title>Lernpfad</title>
	<link rel="stylesheet" type="text/css" href="{% static 'lernpfad/header.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'lernpfad/favicon.ico' %}">
</head>

<body>
<div class="header">
	<img src="{% static 'lernpfad/ukt_logo.jpg' %}" alt="Logo des Universitätsklinikums Tübingen">
	<div class="header-right">
	<a class="Lernpfad" href=''>Lernpfad</a>
	<a class="">Eigene Notizen</a>
	<a class="">Glossar</a>
	<a class="">Einstellungen</a>
	<a class="">Profil</a>
	<img src="{% static 'lernpfad/profilbild_platzhalter.png' %}" alt="Logo des Universitätsklinikums Tübingen">
	</div>
</div>

{% block content %}
<p>Placeholder text in base template. Replace with page  content.</p>
{% endblock content %}
</body>
</html>