{% extends "users/header.html" %}

{% block content %}


<h1 class="name">Willkommen Name!</h1>
<div class="rahmen">
	    
	<div class="ueberschriften"> <br>

		<div class="ueberschrift">
			<h3>Modul 1</h3>
			<h2>Allgemeine Informationen</h2>
			<button type="button" class="btn btn-primary btn-circle btn-xl unlocked"></button>
			
			<button type="button" class="collapsible">Inhalte anzeigen</button>
			<div class="content">
				<p>Allgemeine Informationen</p>
				<p>Quiz</p>
			</div>
		</div>
		
		<div class="ueberschrift">
			<h3>Modul 2</h3>
			<h2>Arten der Spende</h2>
			<button type="button" class="btn btn-primary btn-circle btn-xl unlocked"></button>
			
			<button type="button" class="collapsible">Inhalte anzeigen</button>
			<div class="content">
				<p>Arten der Spende</p>
				<p>Quiz</p>
				<p>Nierenlebendspende</p>
				<p>Organverteilung</p>
			</div>
		</div>
		
		<div class="ueberschrift">
			<h3>Modul 3</h3>
			<h2>Warteliste</h2>
			<button type="button" class="btn btn-primary btn-circle btn-xl locked"></button>
			
			<button type="button" class="collapsible">Inhalte anzeigen</button>
			<div class="content">
				<p>Listungsprozess</p>
				<p>Zeit auf der Warteliste</p>
				<p>Quiz</p>
			</div>
			
		</div>
		
		<div class="ueberschrift">
			<h3>Modul 4</h3> 	
			<h2>Komplikationen</h2>
			<button type="button" class="btn btn-primary btn-circle btn-xl locked"></button>
			
			<button type="button" class="collapsible">Inhalte anzeigen</button>
			<div class="content">
				<p>Komplikationen</p>
				<p>Quiz</p>
			</div>
			
		</div>
		
		<div class="ueberschrift">
			<h3>Modul 5</h3>
			<h2>Abschluss</h2>
			<button type="button" class="btn btn-primary btn-circle btn-xl locked"></button>
			
			<button type="button" class="collapsible">Inhalte anzeigen</button>
			
			<div class="content">
				<p>Bereit für das Erstaufklärungsgespräch</p>
			</div>
		</div>
	</div>
	<br>
	 
	<div class="progressleiste"> 
		<div class="progress" style="width: 90%;">
			<div class="currentprogress"style="width: 30%"></div>
		</div>
	</div>
	

</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
        
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
         content.style.display = "none";
      } else {
         content.style.display = "block";
       }
       });
 }
</script>
        

{% endblock content %}
