{% extends "lernpfad/header.html" %}

{% block content %}
	  <h1 class="name">Lernpfad
	  <small class="text-muted">Willkommen am Universitätsklinikum Tübingen! </small></h1>
	  
<p>Sie sind bei uns, da Ihre Nieren nicht mehr richtig arbeiten. Wenn dies so ist, sind die einzigen Therapiemöglichkeiten die Dialyse und die Nierentransplantation. In diesem Lernpfad wird Ihnen alles rund um die Nierentransplantation erklärt.</p>
<h2>Was ist das Ziel des Lernpfades?</h2>
<p>Sie haben sicher viele Fragen rund um das Thema der Nierentransplantation <br>
Wir haben deshalb einen Lernpfad entwickelt, der Ihnen alle wichtigen Informationen bereitstellen soll<br>
Er soll sie außerdem optimal auf das individuelle Gespräch mit einem unserer Fachärzte vorbereiten <br>
Sie sollen sich vor dem Gespräch schon einmal mit den Inhalten auseinandergesetzt haben, um im Gespräch mit einem unserer Ärzte individuelle Fragen zu klären <br>
Durch den Lernpfad können wir uns mehr Zeit für ihre persönlichen Belange nehmen.
</p>	 
<h2>Wie funktioniert der Lernpfad?</h2>
<p>Der Lernpfad ist in Modulen aufgebaut. <br>
Jedes Modul behandelt ein anderes Thema, das bei der Nierentransplantation von Bedeutung ist.
Sie arbeiten sich von einem Modul zum nächsten Modul.
</p> 
<h2>Was sind die Vorteile des Lernpfads?</h2>
<p>Vorteile des Lernpfads sind, dass Sie vorbereitet zu dem Aufklärungsgespräch mit dem Arzt kommen.
Sie haben die Möglichkeit, sich die Module mehrmals anzuschauen.
Sie haben auch die Möglichkeit, an jeder Stelle des Lernpfads zu stoppen und ihren Zwischenstand zu speichern
Sie können sich also Ihre Zeit ganz flexibel einteilen und immer wieder auf den Lernpfad zugreifen
</p>
<h2>Wieso gibt es am Schluss Fragen zu den Inhalten?</h2>
<p>Am Ende jedes Moduls werden Ihnen Fragen gestellt
Diese dienen der Wissensüberprüfung.<br>
Ihre Ergebnisse werden dem Arzt nach erfolgreichem Abschluss des Lernpfads zugesendet.<br>
Mit Hilfe der Testergebnisse kann der Arzt sich vergewissern, dass sie die Inhalte im Voraus durchgearbeitet haben und sich eventuell auf Themen fokussieren, bei denen es anhand der Testergebnisse Verständnisschwierigkeiten gab. <br>
Am Ende jedes Moduls haben Sie auch die Möglichkeit, individuelle Fragen auszuschreiben, die Sie dem Arzt gerne stellen möchten
Während Sie den Lernpfad durchgehen, werden alle Ihre Fragen gesammelt und in einem Dokument zusammengefasst.
Das Dokument erhalten Sie am Ende des Lernpfad als Download 
Der Arzt bekommt das Dokument auch zugeschickt und kann sich anhand Ihrer Fragen gezielt auf das Gespräch vorbereiten.
</p>

<h2>Abschluss</h2>
<p>Damit sind wir mit der Einleitung am Ende.
Sie wissen nun wie unser Lernpfad funktioniert und was die Ziele dieses Lernpfads sind.<br>
Wir wünschen Ihnen viel Erfolg bei der Bearbeitung des Lernpfads und freuen uns, Sie bald bei uns am Universitätsklinikum begrüßen zu dürfen. Auf Ihrem Weg mit Ihrer Erkrankung möchten wir Sie bestmöglich begleiten und unterstützen.<br>
Sie können jetzt mit der Bearbeitung des zweiten Moduls beginnen.
</p>
{% endblock content %}
