{% extends "lernpfad/header.html" %}

{% block content %}
	  <h1 class="name">Lernpfad
	  <small class="text-muted">Der Weg zur Transplantation </small></h1>
<h2> Wie komme ich zur Transplantation?</h2>
<ul>	  
<li>Wenn wir über Transplantation sprechen gibt es zwei Möglichkeiten um eine Transplantation zu erhalten. Hierzu zählt zum einen die Spende durch einen Verstorbenen oder die Lebendspende. Für beide Spenden ist es essentiell, dass Sie auf der Warteliste von Eurotransplant gelistet sind.</li>
<li>Eurotransplant ist ein Verbund europäischer Länder. Wenn es  in diesem Verbund einen Organspender gibt, wird in dieser Datenbank nachgesehen, ob es einen passenden Empfänger gibt. Unter den passenden Empfängern erhält die Person, die schon am längsten wartet, das Organ.</li>
</ul>
<h2>Die Wartezeit</h2>
<ul>
<li>Es gibt weniger Spendernieren als gebraucht wird. 
Da viele Menschen auf eine Nierentransplantation warten, beträgt die statistische Wartezeit hier in etwa 6 bis 8 Jahre.
</li>
<li>
Nach 6 bis 8 Jahren sind die Hälfte aller Patienten transplantiert. Man kann also zu denen gehören, die nach 1-2 Jahren transplantiert sind, aber auch sehr lange auf eine Niere warten. 
</li>
</ul>

<h2>Wann bin ich an der Reihe?</h2>
<ul>
<li>Die lange Wartezeit kommt u.a. aufgrund einer Gewebeverträglichkeit zwischen Spender und Empfänger  zustande. Die Warteliste wird entsprechend nicht von oben nach unten ab transplantiert.
</li>
<li>
Für jedes Organ wird eine extra Liste mit den Patienten, deren Gewebe mit dem Organ verträglich ist, geführt. Der Patient, der in dieser Liste am längsten wartet, erhält das Organ. 
</li>
</ul>

<h2>Wann beginnt meine Wartezeit?</h2>
<p>Die Wartezeit beginnt mit dem ersten Tag der Dialyse. Das bedeutet, dass die bisher vergangene Zeit Ihnen gutgeschrieben wird.
</p>

<h2>Wie komme ich auf die Warteliste?</h2>
<ul>
<li>
Um auf die Warteliste zu kommen muss nachgewiesen werden, dass sie transplantabel sind und die Transplantation die beste Therapiemöglichkeit für Sie ist. 
</li>
<li>
Hierzu müssen Sie viele Ärzte aufsuchen. Hierunter zählen u.a. Kardiologe, Lungenfacharzt, Hautarzt, Zahnarzt, Urologe, etc. 
Bis alle Befunde aller Ärzte vorliegen vergehen meist 2-3 Monate. 
Sobald alle Befunde vorliegen, werden diese auf einer Konferenz besprochen. Spricht hier nichts gegen eine Transplantation erfolgt noch ein Gespräch mit dem Narkosearzt am UKT. Spricht hier auch nichts dagegen, kommen Sie auf die Warteliste. 
</li>
<li>
Der gesamte Zeitraum von den Untersuchungen, bis Sie auf der Warteliste sind, dauert in etwa 3-6 Monate.
</li>
</ul>

<h2>Die Nierenlebendspende</h2>
<ul>
<li>
Eine Alternative zur Nierentransplantation über die Warteliste von Eurotransplant ist die sogenannte Nierenlebendspende.
</li>
<li>
Hierbei wird einem gesunden noch lebenden Menschen eine Niere entfernt und diese beim Empfänger eingesetzt. 
</li>
</ul>

<h2>Wer darf eine Niere spenden?</h2>
<ul>
<li>Nicht jeder Mensch darf willkürlich fremden Menschen eine Niere spenden.</li>
<li>
Verwandte 1. und 2. Grades dürfen eine Niere spenden, als auch langjährig emotional verbundene Menschen. Hierunter zählen langjährige Lebenspartner:innen und langjährige Freunde. </li>
<li>
Eine weitere Voraussetzung ist, dass der Spender seinem Alter entsprechend gesund ist. 
</li>
<li>extra Termin für Angehörige bei dem Voraussetzungen, Risiken, etc. geklärt wird
</li>
<li>
WICHTIG: um eine Lebendspende zu erhalten muss man auf der Warteliste von Eurotransplant sein
</li>
</ul>

{% endblock content %}